/* .body {
   background-image: url("../images/white-background.jpg");
   background-size: cover;
   width: 100vw;
   height: 100vh;
} */

.login {
   /* border: solid #284b63 2px; */
   border-radius: 2em;
   margin: 0 8em;
   padding: 2em;
}

.login h1 {
    margin-bottom: 1em;
}

input[type="email"],
input[type="password"] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

.login button {
   background-color: #284b63;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
}
.login button:hover {
   opacity: 0.8;
}
